html {
    height: 100%;
}

body {
    font-family: source-sans-pro, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.header {
    background: #4383AB;
    -webkit-background-size: 1px 44px;
    -moz-background-size: 1px 44px;
    -ms-background-size: 1px 44px;
    -o-background-size: 1px 44px;
    background-size: 1px 44px;
    height: 44px;
    line-height: 44px;
    width: 100%;
    color: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    border-bottom: solid 1px #eee;
}

.header h1 {
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.header-button {
    position: absolute;
    top: 6;
    padding: 7px 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1em;
}

.header-button-left {
    left: 4;
}

.search-bar {
    background: #ccc;
    height: 32px;
    padding-left:6px;
    padding-right: 6px;
    padding-top: 6px;
    margin-bottom: 6px;
    border-bottom: solid 1px #666;
}

input[type="search"] {
    width:100%;
	border: none;
	border-radius: 4px;
	padding: 4px 0px 2px 2px;
	margin-top: 0px;
	font-size: 16px;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.5), 0 1px #fff;
	background: #eee;
    -webkit-appearance:none;
}

input[type="search"]:focus {
	outline: none;
	box-shadow: inset 0 4px 8px rgba(0,0,0,.5), 0 1px #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}

li {
    display: block;
    border-top: 1px solid #c0c0c0;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

li {
    display: block;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
}

li {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 100%;
}

li>a {
    color: #000;
    display: block;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: -10px 0;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 100%;
    -moz-background-size: 10px 100%;
    -ms-background-size: 10px 100%;
    -o-background-size: 10px 100%;
    background-size: 10px 100%;
}

li>a * {
    pointer-events: none;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-size:14px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;

}

h1 {
    font-size: 18px;
    padding: 20 0 0 0;
    margin: 0px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.scroll
{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 84px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

li>a.tappable-active{
  color: #fff;
  background-color: #4286f5;

}


#product-image {
	padding-left: 20px;
}
#product-entry {

}

#page-header {
  background: #55A2A3;
}

#page-footer {
  background: #55A2A3;
}

 .counter {
        width: 25px;
        height: 21px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        border: 3px solid red;
        position: absolute;
        left:120px;
        top:8px;
      }

      .listDivider {
        float:right;
      }

      .info{
        font-weight:bolder;
        border-radius:6px;
        color: green;
        margin-left: 200px;
      }

      .label {
        float:left;
        margin-right:60px;
      }

      .graph {
        position:relative;
      }

      .divider {
        width: 100%;
      }

      .panelDivider {
        width: 88%;
      }

      @media screen and (min-width: 768px) and (max-width: 768px) {
        .divider {
          width: 96%;
        }
      }

      @media screen and (min-width: 1000px) and (max-width: 1100px) {
        .divider {
          width: 97%;
        }
      }

      #flags{
        width:20px;
        height:20px;
      }

      #graph {
        position: absolute;
        top: 5px;
        right:80px;
      }

      #pie {
        position: absolute;
        top: 5px;
        right:25px;
      }

      input[type=text] {
        text-transform: uppercase;
      }

      .hide {
        display:none;
      }

    #logTable th {
      background-color:lightblue;
      color:black;
      font-weight: bolder;
    }

    #logTable tr {
      background-color:#DAF2F5;
    }
    #logTable tr:nth-child(even) {
      background-color:white;
    }

    #logTable tr:last-child
    {
      background-color: lightblue;
      color: black;
      font-weight: bolder;
    }

#circularG{
position:relative;
width:128px;
height:128px}

.circularG{
position:absolute;
background-color:#12E85D;
width:29px;
height:29px;
-moz-border-radius:19px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:19px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:19px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:19px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:19px;
animation-name:bounce_circularG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:50px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#circularG_2{
left:14px;
top:14px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#circularG_3{
top:0;
left:50px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#circularG_4{
right:14px;
top:14px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#circularG_5{
right:0;
top:50px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#circularG_6{
right:14px;
bottom:14px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#circularG_7{
left:50px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#circularG_8{
left:14px;
bottom:14px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

#logDetailsDiv {
  display: none;
}

    #logDetailsTable th {
      background-color:lightblue;
      color:black;
      font-weight: bolder;
    }

    #logDetailsTable tr {
      background-color:#DAF2F5;
    }
    #logDetailsTable tr:nth-child(even) {
      background-color:white;
    }

    #logDetailsTable tr:last-child
    {
      background-color: lightblue;
      color: black;
      font-weight: bolder;
    }