<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.drivecomputing.logApp"
        versionCode="10"
        version   = "1.0">

  <!-- versionCode is optional and Android only -->

  <name>Log Application</name>

  <description>
    Logging System App
  </description>

  <author href="http://www.drivecomputing.co.uk" email="jasonm@drivecomputing.co.uk">
    Drive Computer Services Ltd
  </author>

  <preference name="phonegap-version" value="2.9.0" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="true" />
  <preference name="splash-screen-duration" value="3000" />
  <preference name="webviewbounce" value="false" />
  <icon src="icons/ios/VG-icon-57.png" />
  <icon src="icons/ios/VG-icon-57.png" gap:platform="ios" width="57" height="57" />
  <icon src="icons/ios/VG-icon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="icons/ios/VG-icon-57-2x.png" gap:platform="ios" width="114" height="114" />
  <icon src="icons/ios/VG-icon-72-2x.png" gap:platform="ios" width="144" height="144" />
  <icon src="icons/ios/VG-icon-ipad.png" gap:platform="ios" width="76" height="76" />
  <icon src="icons/ios/VG-icon-iphone-ipod.png" gap:platform="ios" width="120" height="120" />
  <icon src="icons/ios/VG-icon-ipad2.png" gap:platform="ios" width="152" height="152" />
  <gap:splash src="splash.png" />
  <gap:splash gap:platform="ios" height="480" src="res/screen/ios/splash-for-logapp-iphone.png" width="320" />
  <gap:splash gap:platform="ios" height="960" src="res/screen/ios/splash-for-logapp-iphone2x.png" width="640" />
  <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/splash-for-logapp-ipad.png" width="768" />
  <gap:splash gap:platform="ios" height="768" src="res/screen/ios/splash-for-logapp-ipad-landscape.png" width="1024" />

  <plugin name="Storage" value="org.apache.cordova.Storage" />
  <feature id="blackberry.widgetcache" required="true" version="1.0.0.0" />
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/file"/>

  <!-- <gap:plugin name="BarcodeScanner" /> --> <!-- latest release -->
  <gap:plugin name="com.phonegap.plugins.barcodescanner" /> <!-- latest release -->

</widget>